.image-title {
  display: flex;
  flex-wrap: wrap;
}

.image-tile .row {
  display: flex;
  flex: 1 1 0;
}

.image-tile .row > * {
  flex: 1 1 auto; /* Adjust the size of the elements to fit the row */
  max-width: 100%; /* Ensure the elements do not exceed the container's width */
  margin: 5px; /* Add some spacing between elements */
}

.image-tile .row video,
.image-tile .row img {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
  height: auto;
}
