---
layout: 'base.njk'
---

<div class = "row1">
  <div class = "pH">bud music</div>
</div>
<div class = "row2"></div>
<div class = "row3">
  <p>the identity centers around a generative collage tool programmed in Java using the Processing library.</p>
</div>