<div onClick="toProject()" id="frontC">
  <div id="thumbnail">
    {# <canvas class="glslCanvas" data-fragment-url="/shaders/shader.frag" data-vertex-url="/shaders/shader.vert"></canvas> #}
    {# <img id="texImg" src="/assets/diaImg.png"></img> #}
    <img id="texImg" ></img>
  </div>
</div>