<div onClick="toProject()" id="frontC">
  <div id="thumbnail">
    <div id="thumbnail-outline"></div>
    <!-- <canvas class="glslCanvas" data-fragment-url="/shaders/shader.frag" data-vertex-url="/shaders/shader.vert"></canvas> -->
    <img></img>
    <video controls autoplay loop></video>
  </div>
</div>