<div class="knobBarTwo">
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">software</div>
  </div>
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">identity</div>
  </div>
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">experience</div>
  </div>
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">data viz</div>
  </div>
</div>