<div class="knobBarTwo">
  <div>
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">0.0</div>
  </div>
  <div>
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">0.0</div>
  </div>
  <div>
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">0.0</div>
  </div>
  <div>
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">0.0</div>
  </div>
</div>