<div class="knobBarTwo">
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">
      <p>software</p>
    </div>
  </div>
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">
      <p>identity</p>
    </div>
  </div>
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">
      <p>experience</p>
    </div>
  </div>
  <div class="knob-container-H">
    <div class="lightContainer">
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
      <div class="knobLight"></div>
    </div>
    <div class="knob"></div>
    <div class="knob-display">
      <p>data viz</p>
    </div>
  </div>
</div>