<div id="navBar">
  <div id="slider-container">
    <input type="range" min="0" step="1" orient="vertical" class="vertical-slider" id="myNavSlider">
  </div>
  <div id="social-container">
    <div class="socialIcon" target="_blank">
      <a href="https://github.com/helloItIsThomas" target="_blank">
        <img src="/assets/social-icons/git.png">
      </a>
    </a>
  </div>
  <div class="socialIcon" target="_blank">
    <a href="https://www.instagram.com/tom_mcelmeel/" target="_blank">
      <img src="/assets/social-icons/insta.png">
    </a>
  </div>
  <div class="socialIcon" target="_blank">
    <a href="https://www.linkedin.com/in/thomas-mcelmeel/" target="_blank">
      <img src="/assets/social-icons/linked.png">
    </a>
  </div>
</div>
</div>