<div id="navBar">
  <div id="slider-container">
    <input type="range" min="0" max="100" step="10"  orient="vertical" class="vertical-slider">
  </div>
  <div id="social-container">
    <div class="socialIcon" target="_blank">
      <img src="/assets/social-icons/git.png">
    </div>
    <div class="socialIcon" target="_blank">
      <img src="/assets/social-icons/insta.png">
    </div>
    <div class="socialIcon" target="_blank">
      <img src="/assets/social-icons/linked.png">
    </div>
  </div>
</div>