video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.myVideo {
  object-fit: cover;
  pointer-events: none;
}

.imgFullW {
  width: 100%;
}
