
<div class="module">
  {% if module.type == 'imageTile' %}
    {# {% include "layouts/subModules/imageTile.njk" with { imageTile: module.data } %} #}
    {% include "layouts/subModules/imageTile.njk"  %}
    IMAGE TILE
  {% elif module.type == 'appImage' %}
    {# {% include "layouts/subModules/appImage.njk" with { appImage: module.data } %} #}
    {% include "layouts/subModules/appImage.njk"  %}
  {% elif module.type == 'fullWidthImage' %}
    {# {% include "layouts/subModules/fullWidthImage.njk" with { fullWidthImage: module.data } %} #}
    {% include "layouts/subModules/fullWidthImage.njk" %}
  {% elif module.type == 'text' %}
    {# {% include "layouts/subModules/text.njk" with { text: module.data } %} #}
    {% include "layouts/subModules/text.njk" %}
  {% endif %}
</div>
