<div id="projectBackC">
  <div class="projectBackCBanner">
    <div class = "row1">
      <div class = "pH">{{ title }}</div>
    </div>
    <div class = "row2"></div>
    <div class = "row3">
      {% include "components/h-knobBar.njk" %}
      {{ description }}
    </div>
  </div>
  <div class="projectBackCContent">
    {% for module in modules %}
      <div class="projectModule">
        {% for component in module.components %}
          {% if component.type == 'imageTile' %}
            {% include "layouts/subModules/imageTile.njk" %}
          {% elif component.type == 'appImage' %}
            {# {% include "layouts/subModules/appImage.njk" %} #}
          {% elif component.type == 'fullWidthImage' %}
            {# {% include "layouts/subModules/fullWidthImage.njk" %} #}
          {% elif component.type == 'text' %}
            {# {% include "layouts/subModules/text.njk" %} #}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>