<div class="image-tile">
  {% for row in component.data.rows %}
    <div class="row">
      {% for image in row.images %}
        {% if image
          .src
          .endsWith('.mov') %}
          {# <h1>MOV</h1> #}
          <video src="{{ image.src }}" alt="{{ image.alt }}" controls></video>
        {% else %}
          <img src="{{ image.src }}" alt="{{ image.alt }}">
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>