<div class="image-tile">
  {% for row in component.data.rows %}
    <div class="row">
      {% for image in row.images %}
        <img src="{{ image.src }}" alt="{{ image.alt }}">
      {% endfor %}
    </div>
  {% endfor %}
</div>