/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

.imgFullW {
  width: 100%;
}

#layout0 {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#projectContent {
  width: 100%;
  height: auto;
}

#projectContainer {
  display: flex;
  width: 100%;
}

#topAndBottomContent {
  height: auto;
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}
