#footer {
  position: relative;
  /* background-color: orange; */
  color: blue;
  font-size: 90%;
  font-style: italic;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerButton {
  width: 25%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-sizing: border-box;
  border: 2px solid grey;
  background-color: white;
}

#footerButton:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
