#projectBackC {
  width: 100%;
  height: 100%;
}

.pH {
  height: 100%;
  padding: 10px;
  font-size: 7vw;
  padding-top: 10vh;
  background-color: green;
}

.projectBackCBanner .row1,
.projectBackCBanner .row2,
.projectBackCBanner .row3 {
  width: 100%;
  border-radius: 30px;
  margin: 0;
  padding: 0;
}
.projectBackCBanner .row1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3vw;
  background-color: blue;
}
.projectBackCBanner .row2 {
  height: 100%;
  display: grid;
  background-color: red;
  grid-template-columns: 1fr 1fr;
}
.projectBackCBanner .row3 {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projectBackCBanner {
  background-color: orange;
  border-radius: 30px;
  width: 100%;
  height: 99%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
