body,
html {
  margin: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.imgFullW {
  width: 100%;
}

#splash {
  background-color: blue;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 0px 10px 10px 10px; */
  gap: 2px;
}

#mySpan {
  background-color: yellow;
  align-self: flex-start;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

#knobBar {
  position: absolute;
  width: 50px;
  height: 100vh;
  right: 0;
  background-color: white;
  color: black;
}

#navBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100vh;
  background-color: white;
  color: black;
}

#logo-container {
  height: 20vh;
}

#slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  width: 100%;
  height: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 95%;
  background: #d3d3d3;
  outline: none;
  transition: opacity 0.2s;
}

#social-container {
  display: flex;
  background-color: green;
  flex-direction: column;
  justify-content: center;
}
.socialIcon {
  align-self: center;
}

#headline {
  background-color: red;
}
#scriptHolder {
  background-color: green;
  flex-grow: 1;
}
#headlineText {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

#existingCanvas {
  display: block;
  background-color: hotpink;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid green;
}

#homeCopy {
  position: relative;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}
#homeCopy > img {
  padding: 5vw;
  width: 25%; /* Forces the image to expand or shrink to fit the column width */
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: contain; /* Ensures the entire image fits within the given dimensions without being cropped */
}

#homeCopy > * {
  /* Targets all direct children of #homeCopy */
  flex: 1 1 25%; /* Each child takes up 25% of the container's width */
  box-sizing: border-box;
  padding: 10px; /* Adds space inside each child element */
}

/* Navigation Menu */
.nav-menu {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  background-color: #f9f9f9;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  width: 100%;
  height: 100%;
}

.nav-menu a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  text-align: left;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .nav-menu {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 0;
  }
}
