.text-module {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 8vh;
}

.text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
}

.text-grid p {
  font-size: small;
  padding: 5px;
  padding-right: 25px;
  margin: 0;
}
